.ui-progressbar {
    position: relative;
}
#progressbar {
    background: #F5FFFA;
}
.ui-progressbar .ui-progressbar-value {
  margin: 0;
}
.progress-label {
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 40px;
    color:red;
}
.ui-widget-header {
    background: #ec2528;
}
p {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px;
}
.well {
  margin-top: 20px;
}
